OPENAI_API_KEY=your_openai_api_key_here
MONGODB_URI=mongodb+srv://sahaza2shakya_db_user:YZQDWPJjWHIARHoJ@pdfchat.hamfr2p.mongodb.net/?appName=pdfchat
MONGODB_DATABASE_NAME=pdfchat
MONGODB_COLLECTION_NAME=pdf_embeddings
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4-turbo-preview

